body { 
	padding-top: 70px;
	color:red;background-color:green
	}
ul{
	list-style-image:url(/home/giulia/foto.jpg)
	}

.navbar-header{
	color:red
	background-color:red;
	}
.jumbotron{
	background-color:grey;
	}	

#bt0{
	width:300px;
	height:60px;
	color:black;
	margin:10px
	}
#bt1{
	width:300px;
	height:30px;
	color:black;
	margin:10px
	}

#idLKM{
	display:none;	
	}

#idLKP{
	display:none;	
	}

#idLKP1{
	display:none;	
	}


#articoloM{
	display:block;	
	}


.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
}


